services:
  - type: web
    name: python-svan-catalogo
    env: python
    region: frankfurt
    plan: free
    branch: master
    buildCommand: "chmod +x build.sh && ./build.sh"
    startCommand: "gunicorn app:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
    disk:
      name: catalog-data
      mountPath: /opt/render/project/src/instance
      sizeGB: 1
